.footer{
    background-image: url('../img/picture/fundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    padding: 4vh;
    margin: 0px;
}
.startup-details{
    font-family: josefin-sans-regular;
    color: white;
    font-size: 1vh;
    line-height: 1.2vh;
    margin-top: 2vh;
}