.header{
    background-image: url('../img/picture/fundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    padding: 4vh;
    margin: 0px;
}

.header-title{
    font-family: josefin-sans-bold;
    color: white;
    font-size: 4.5vh;
    text-transform: uppercase;
    height: calc(100% - 4vh);
    display: flex;
    align-items: flex-end;
    margin: 0px;
}

.header-subtitle{
    font-family: josefin-sans-regular;
    color: white;
    font-size: 2.5vh;
    height: 4vh;
    margin: 0px;
}

.section{
    padding: 4vh;
}

.summary{
    background-color: #DF1995;
    height: auto;
}
.summary-txt{
    font-family: josefin-sans-regular;
    color: white;
    font-size: 3.5vw;
    display: flex;
    align-items: center;
    padding: 4vh 0vh 4vh 4vh;
}
.summary-img{
    width: calc(50% - 3vh);
}
.startups{
    margin: 0px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.startup-img{
    width: calc(100% - 3vh);
}