@font-face {
    font-family: josefin-sans-regular;
    src: url("../font/Josefin_Sans/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: josefin-sans-italic;
    src: url("../font/Josefin_Sans/JosefinSans-Italic.ttf");
}

@font-face {
    font-family: josefin-sans-bold;
    src: url("../font/Josefin_Sans/JosefinSans-Bold.ttf");
}

@font-face {
    font-family: josefin-sans-light;
    src: url("../font/Josefin_Sans/JosefinSans-Light.ttf");
}

.section-title{
    font-family: josefin-sans-bold;
    font-size: 3vh;
}

.section-subtitle{
    font-family: josefin-sans-regular;
    font-size: 1.7vh;
}

.section-text{
    font-family: josefin-sans-light;
    font-size: 1.3vh;
}

.highlight-sentence{
    font-family: josefin-sans-regular;
    font-size: 2vh;
    margin: 0px;
}

.item-number{
    font-family: josefin-sans-light;
    font-size: 4vh;
    text-align: center;
}

.item-title{
    margin-top: 0.5vh;
    font-family: josefin-sans-light;
    font-size: 1vh;
    text-transform: uppercase;
}

.item-description{
    margin-top: 0.5vh;
    font-family: josefin-sans-light;
    font-size: 1vh;
}

.spacer-1vh{
    height: 1vh;
}

.spacer-2vh{
    height: 2vh;
}

.spacer-3vh{
    height: 3vh;
}

.purple{
    color: #440099;
}

.pink{
    color: #DF1995;
}

.light-blue{
    color: #2DCCD3;
}

.grey{
    color: #878787;
}

.icon-sm{
    width: 6vw;
    height: auto;
}
.icon-md{
    height: 8vw;
    width: auto;
}

.icon-lg{
    width: 15vw;
    height: auto;
}


.icon-subtitle{
    margin-top: 1vh;
    font-family: josefin-sans-light;
    font-size: 0.8vh;
    line-height: 1vh;
    text-align: center;
}