@font-face {
    font-family: josefin-sans-regular;
    src: url("../font/Josefin_Sans/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: josefin-sans-italic;
    src: url("../font/Josefin_Sans/JosefinSans-Italic.ttf");
}

@font-face {
    font-family: josefin-sans-bold;
    src: url("../font/Josefin_Sans/JosefinSans-Bold.ttf");
}

@font-face {
    font-family: josefin-sans-light;
    src: url("../font/Josefin_Sans/JosefinSans-Light.ttf");
}

.section-title{
    font-family: josefin-sans-bold;
    font-size: 3vh;
}

.section-subtitle{
    font-family: josefin-sans-regular;
    font-size: 1.7vh;
}

.section-text{
    font-family: josefin-sans-light;
    font-size: 1.3vh;
}

.spacer-1vh{
    height: 1vh;
}

.purple{
    color: #440099;
}

.pink{
    color: #DF1995;
}

.light-blue{
    color: #2DCCD3;
}

.grey{
    color: #878787;
}
