.delivered-value{
    text-align: center;
    margin-bottom: 4vh;
}

.delivered-value .col-4 img{
    padding: 0vh 2vw 2vw;
    height: 16vw;
}
.delivered-value .section-text{
    font-size: 1.5vw;
    line-height: 2.2vw;
}
@media screen and (max-width: 600px){
    .delivered-value .descriptions{
        padding: 0.5vh 0.5vh;
    }
}

@media screen and (min-width: 601px){
    .delivered-value .descriptions{
        padding: 0.5vh 0.5vh;
    }
}

@media screen and (min-width: 767px){
    .delivered-value .descriptions{
        padding: 0.5vh 0.5vh;
    }
}

@media screen and (min-width: 767px){
    .delivered-value .col-4 img{
        padding: 0vh 2vw 2vw;
        height: 12vw;
    }
}
