.footer{
    background-image: url('../img/picture/fundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    padding: 2vh 4vh 4vh;
    margin: 0px;
}
.footer .simplifai-img{
    margin-bottom: 2vh;
}
.footer .squair-img{
    margin-bottom: 2vh;
}
.startup-details{
    font-family: josefin-sans-light;
    color: white;
    font-size: 1.5vw;
    line-height: 2.4vw;
}
.startup-details img{
    height: 1.5vw;
}

@media screen and (min-width: 768px){
    .footer{
        padding: 2vh 4vh 4vh;
        margin: 0px;
    }
    .footer .simplifai-img{
        height: 4vw;
        margin-bottom: 2vh;
    }
    .footer .squair-img{
        height: 5vw;
        margin-bottom: 2vh;
    }
    .startup-details img{
        height: 0.8vw;
    }
    .startup-details{
        font-size: 1vw;
        line-height: 1.4vw;
    }
}