.header{
    background-image: url('../img/picture/fundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    
}
.header-title{
    font-family: josefin-sans-bold;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    margin: 0px;
}
.header-subtitle{
    font-family: josefin-sans-regular;
    color: white;
    margin: 0px;
}

@media screen and (max-width: 788px){
    .header{
        height: 50vh;
        padding: 6vw 8vw;
    }
    .header-title{
        font-size: 4.5vh;
        height: (100% - 8vw);
    }
}

@media screen and (min-width: 787px){
    .header{
        height: 20vw;
        padding: 6vw;
    }
    .header-title{
        font-size: 3vw;
        height: 9vw;
    }
    .header-subtitle{
        font-size: 1vw;
        height: 4vh;
    }
}
