.startups{
    margin: 0px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
}
.squair-img{
    width: auto;
}
.simplifai-img{
    width: auto;
}
@media screen and (max-width: 600px){
    .squair-img{
        height: 5vh;
    }
    .simplifai-img{
        height: 4vh;
    }
    .startups-description{
        padding-left: 1vh;
        padding-right: 1vh;
    }
}

@media screen and (min-width: 601px){
    .squair-img{
        height: 4vh;
    }
    .simplifai-img{
        height: 3vh;
    }
    .startups-description{
        padding-left: 1vh;
        padding-right: 1vh;
    }
}
@media screen and (min-width: 768px){
    .squair-img{
        margin-top: 4vw;
        height: 6vw;
    }
    .simplifai-img{
        margin-top: 4vw;
        height: 5vw;
    }
    .startups-description{
        padding-left: 2vw;
        padding-right: 2vw;
    }
}