.our-purpose{
    margin-top: 4vh;
    position: relative;
}
.our-purpose .highlight-sentence{
    z-index: 3;
    color: white;
 }
 .our-purpose img{
    height: auto;
    width: 100%;
    padding: 0px;
    z-index: 0;
}
.our-purpose .highlight-sentence-container{
    z-index: 2;
    top: 40%;
}