.our-goal{
    position: relative;
    margin-top: 4vh;
}
.our-goal .highlight-sentence{
    z-index: 3;
    color: white;
 }
 .our-goal-img{
     background-image: url("../img/picture/medicpulmao.jpeg");
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     z-index: 0;
     width: 100%;
 }

.our-goal .highlight-sentence-container{
    z-index: 2;
    top: 53%;
}
@media screen and (max-width: 788px){
    .our-goal-img{
        height: 40vh;
    }
}
@media screen and (min-width: 789px){
    .our-goal-img{
        height: 80vh;
    }
}