.our-purpose{
    margin-top: 4vh;
    position: relative;
}
.our-purpose .highlight-sentence{
    font-size: 1.5vh;
    color: white;
 }
 .our-purpose img{
    height: auto;
    width: 100%;
    padding: 0px;
}