.section{
    padding: 5vw 6vw 0vh;
}
.highlight-sentence-container{
    position: absolute;
    left: 8%;
    background-color: #343a40;
    height: 15vh;
    width: 55%;
    opacity: 0.85;
    display: flex;
    align-items: center;
    padding: 1vh;
}
.overlay{
    height: auto;
    background-color: black;
    opacity: 70%;
    z-index: 1;
}

