@font-face {
    font-family: josefin-sans-regular;
    src: url("../font/Josefin_Sans/JosefinSans-Regular.ttf");
}

@font-face {
    font-family: josefin-sans-italic;
    src: url("../font/Josefin_Sans/JosefinSans-Italic.ttf");
}

@font-face {
    font-family: josefin-sans-bold;
    src: url("../font/Josefin_Sans/JosefinSans-Bold.ttf");
}

@font-face {
    font-family: josefin-sans-light;
    src: url("../font/Josefin_Sans/JosefinSans-Light.ttf");
}

.section-title{
    font-family: josefin-sans-bold;
}

.section-subtitle{
    font-family: josefin-sans-regular;
}

.section-text{
    font-family: josefin-sans-regular;
    font-size: 1.5vh;
}

.highlight-sentence{
    font-family: josefin-sans-regular;
    margin: 0px;
    font-size: 1.8vh;

}

.item-number{
    font-family: josefin-sans-light;
    text-align: center;
}

.item-title{
    margin-top: 0.5vh;
    font-family: josefin-sans-light;
    text-transform: uppercase;
}

.item-description{
    margin-top: 0.5vh;
    font-family: josefin-sans-light;
}

.purple{
    color: #440099;
}

.pink{
    color: #DF1995;
}

.light-blue{
    color: #2DCCD3;
}

.grey{
    color: #878787;
}

.icon-sm{
    width: 6vw;
    height: auto;
}
.icon-md{
    height: 8vw;
    width: auto;
}

.icon-lg{
    width: 15vw;
    height: auto;
}


.icon-subtitle{
    margin-top: 1vh;
    font-family: josefin-sans-light;
    text-align: center;
}
@media screen and (max-width: 600px){
    .section-title{
        font-size: 4.5vw;   
    }
    .section-subtitle{
        font-size: 2.3vw;
    }
    .section-text{
        font-size: 2.5vw;
    }
    .highlight-sentence{
        font-size: 3.3vw;
    }
    .item-number{
        font-size: 4.5vw;
    }    
    .item-title{
        font-size: 2vw;
    }
    .item-description{
        font-size: 1.8vw;
    }
    .icon-subtitle{
        font-size: 1.8vw;
        line-height: 2vw;
    }
}

@media screen and (min-width: 601px){
    .section-title{
        font-size: 4.3vw;
    }
    .section-subtitle{
        font-size: 2.5vw;
    }
    .section-text{
        font-size: 2vw;
    }
    .highlight-sentence{
        font-size: 2.8vw;
    }
    .item-number{
        font-size: 5.5vw;
    }    
    .item-title{
        font-size: 2.3vw;
    }
    .item-description{
        font-size: 2vw;
    }
    .icon-subtitle{
        font-size: 2vw;
        line-height: 2.2vw;
    }
}

@media screen and (min-width: 768px){
    .section-title{
        font-size: 4.8vw; 
    }
    .section-subtitle{
        font-size: 2.3vw;
    }
    .section-text{
        font-size: 2vw;
    }
    .highlight-sentence{
        font-size: 3vw;
    }
    .item-number{
        font-size: 6vw;
    }    
    .item-title{
        font-size: 2.3vw;
    }
    .icon-subtitle{
        font-size: 2vw;
        line-height: 2.3vw;
    }
}

@media screen and (min-width: 1100px){
    .highlight-sentence{
        font-size: 2.2vw;
    }
}